.container-habilidades{
    display: flex;
    align-items: center;
    margin-left: 300px;
    min-height: 100vh; 
    padding: 20px;
}

.habilidades_1{
    font-size: 6rem;
    color: rgba(39, 233, 142, 0.986);
}