.container-sobre_mi {
    display: flex;
    align-items: center;
    margin-left: 300px;
    padding: 20px;
    min-height: 100vh; 
}

.sobre_mi_1{
    font-size: 6rem;
    color: rgba(39, 233, 142, 0.986);
}

.sobre_mi_2{
 color: rgb(235, 235, 100);
}

.sobre_mi_3{
    color: rgba(39, 233, 142, 0.986);
}

.sobre_mi_4{
    color: rgb(174, 133, 221);
}

.sobre_mi_4 a{
    color: rgba(39, 233, 142, 0.986);
    margin-left: 6px;
}

.sobre_mi_5{
    background-color: rgba(39, 233, 142, 0.986);
    border-radius: .2em;
}