.card{
    width: 18em;
    background-color: rgb(144, 93, 202);
}

.card_title{
    color: rgba(39, 233, 142, 0.986);
}

.card_text{
    color: rgb(235, 235, 100);
    text-align: center;
}

.card_body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_body button{
    background-color:  rgb(8, 6, 124);
    border: none;
}